.thumbnail img {
	width: 100%;	
}

.thumbnail {
	padding: 0;
	color: #101010;
	
}
.well {
	color: #101010;
}

.thumbnail .caption-full {
	padding:9px;
}

.deleteForm {
	display: inline;
}
body {
	background-image: url(https://images.unsplash.com/photo-1564090654281-eb1db56d15fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-position: 50% 50%;
	color: white;
}

.jumbotron {
	opacity: 0.85;
	background-color: #101010;
	color: #9D9D9D;
}
